.error {
  text-align: center;
  margin: 100px 0 200px;
}

.error h1 {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error .error404Text {
  margin-left: 8px;
}